/*HTML*/


html {
     font-size: 62.5%;
     box-sizing: border-box;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
     max-width: 100%;
}

img {
     max-width: 100%;
}

h1 {
     color: gray;
}


/*Utilidades*/

/*Header*/

.contenedor {
     max-width: 1200px;
     margin: 95%;
     margin: 0 auto;
}

.contenedor-header{
     display: flex;
     justify-content: space-between;
}

.contenedor-header p{
     text-transform: uppercase;
     color: #9b9b9b;
     font-size: 700;
}

.productos-titulo h1 {
     text-align: center;
     text-transform: uppercase;
     text-align: center;
     color: black;
}



/**footer**/

.site-footer{
     padding: 3rem;
     margin-top: 4rem;
}

.site-footer p{
     color:  #ffffff;
     font-size: 4rem;
     font-weight: 400;
     font-family: 'PT Sans', sans-serif;
     text-align: center;
}

.site-footer p span {
     font-weight: 700;
}

.navegacion a {
     padding: 2rem;
     text-align: center;
     display: inline-block;
     font-size: 1.8rem;
     color: #ffffff;
     text-decoration: none;
}

@media (min-width: 786px) {
     .navegacion a {
          display: inline;
          margin-right: 2rem;
     }

     .navegacion a:last-of-type {
          margin: 0;
     }
}
/*Componentes de Bootstrap*/

.text-uppercase  span {
     color: black;
}

.jumbotron {
     background-image: url(../img/grafico2.jpg);
     background-position: center center;
     background-size: cover;
     height: 100vh;
     max-height: 500px;
     margin-top: 2rem;
}

.d-flex {
     align-items: center;
     justify-content: space-between;
}


.lista-productos {
     display: grid;  
     grid-template-columns: repeat(2, 1fr);
     column-gap: 2rem;
}

@media (min-width: 768px){
     .lista-productos {
          display: grid;  
          grid-template-columns: repeat(3, 1fr);
          column-gap: 2rem;
       }
}


.card {
     padding: 2rem 2rem;
     margin: 2rem 2rem;
}
